/**
 * digital ROCK CSS for beamer / videowalls
 *
 * @link http://www.digitalrock.de
 * @author Ralf Becker <RalfBecker@digitalROCK.de>
 * @copyright 2011 by RalfBecker@digitalROCK.de
 * @version $Id$
 */

a {
	color:yellow;
	text-decoration: none;
}

td,th {
	font-family: "Arial Narrow",Arial,Helvetica,sans-serif;
	font-size:32pt;
	font-weight: bold;
	background-color: black;
	color: yellow;
}

td.details,th.details {
	font-size:20pt;
}

th {
	background-color: blue;
	color: white;
	font-size:28pt;
}

body {
	margin:0px;
	background-color: black;
}

h1 {
	font-family: "Arial Narrow",Arial,Helvetica,sans-serif;
	font-size: 30pt;
	font-weight: bolder;
	color:white;
}

p {
	font-family: "Arial Narrow",Arial,Helvetica,sans-serif;
	margin-left:5px;
	margin-top:0px;
	font-size:20pt;
}

/**
 * Boulder graphics same size as td font
 */
div.boulder, div.boulderNone, div.boulderTop, div.boulderBonus {
	width: 32px;
	height: 32px;
}
/**
 * Do NOT display bonus or top tries
 */
div.bonusTries, div.topTries {
	display: none;
}

/**
 * Do not display competition name and result date
 */
.compHeader, .resultDate {
	display: none;
}