/**
 * digital ROCK CSS for jQuery based Javascript API
 *
 * @link http://www.digitalrock.de
 * @author Ralf Becker <RalfBecker@digitalROCK.de>
 * @copyright 2010-13 by RalfBecker@digitalROCK.de
 * @version $Id$
 */

table.DrTable {
	width: 100%;
}

/**
 * Background etc. for header rows
 */
table.DrTable thead, table.DrTable tbody th {
	background-color: #c0c0c0;
}
/**
 * Background etc. for body rows
 */
table.DrTable tbody {
	background-color: #f0f0f0;
}
/**
 * Center all columns by default
 */
table.DrTable th, table.DrTable td {
	text-align: center;
}
/**
 * Left justify text columns like name
 */
table.DrTable th.lastname, table.DrTable td.lastname, table.DrTable td.firstname, table.DrTable td.boulder,
table.DrTable td.team_name, table.DrTable tbody th, .Starters table.DrTable th, .Starters table.DrTable td,
table.DrTable th.federation, table.DrTable td.federation {
	padding-left: 5px;
	text-align: left;
}
table.DrTable tbody th a {
	padding-left: 10px;
	font-weight: normal;
}
/**
 * Capitalize names
 */
.lastname {
	text-transform: uppercase;
}
.Starters .lastname:after {
	content: ", ";	
}

/**
 * Format the header
 */
.Results h1, .Startlist h1, .Resultlist h1, .Starters h1, .Profile h1 {
	padding: 0;
	margin: 0;
	font-size: 20pt;
	font-weight: bold;
}

.Results h3, .Profile h3, .Profile h2 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

.Results select.compChooser {
	width: 100%;
}

/**
 * Quota line
 */
.quota_line > td {
	border-top: 2px solid black;
}

/**
 * See also links
 */
ul.seeAlso:before {
	content: "See also:";
}
ul.seeAlso li {
	display: block ! important;
}

/**
 * Result column
 */
.result {
	white-space: nowrap;
}

/**
 * Toc row
 */
ul.listToc {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}
ul.listToc li {
	display: inline-block;
	margin-right: 15px !important;
	text-transform: uppercase;
}

/**
 * New boulder result display
 */
div.boulder, div.boulderNone, div.boulderTop, div.boulderBonus {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 2px;
	background-size: 100%;
	position: relative;
}
td.boulder > div {
	white-space: nowrap;	
}

div.boulderNone {
	background-image: url(../../templates/default/images/boulderNone.png);
}

div.boulderTop {
	background-image: url(../../templates/default/images/boulderTop.png);
}

div.boulderBonus {
	background-image: url(../../templates/default/images/boulderBonus.png);
}

div.bonusTries, div.topTries {
	position: absolute;
	font-size: 90%;
	font-weight: bold;
	color: white;
}
div.bonusTries {
	right: 3px;
	bottom: 1px;
}
div.topTries {
	left: 3px;
	top: 1px;	
}

/**
 * Profile page
 */
div.Profile {
	display: inline-block;
}
.profileHeader, .profileData {
	width: 100%;
}
.profileHeader .profileNation {
	margin: 5px 0 5px 0;	
}
.profileLogo {
	text-align: right;
}
.profileRank:after, .profileResultRank:after {
	content: ".";
}
.profileData td {
	font-style: italic;
}
td.profileAge, td.profileBirthdate, td.profileBirthplace, td.profileCity, td.profileStreet, td.profileRank, 
td.profilePractice, td.profileOtherSports, td.profileProfessional, td.profileHeight, td.profileWeight {
	font-weight: bold;
	font-style: normal;
}
.profileResult td, h1, h3, td.profileRanglist {
	font-style: normal;
}
.profileResultHidden {
	display: none;
}
tr.profileMarginTop > td {
	padding-top: 10px;
}
.profileResultHeader td {
	font-weight: bold;
	font-style: normal;
	font-size: 120%;
}
/**
 * Fix some CSS on www.ifsc-climbing.org
 */
section#gkMainbody table.profileHeader thead tr:hover td, table.profileData thead tr:hover td {
	background-color: black;
}
section#gkMainbody table.DrTable thead, section#gkMainbody table.DrTable tbody{
	background-color: inherit;
}
/* do NOT show start-numbers on ifsc-website */
section#gkMainbody .Resultlist table.DrTable .start_number {
	display: none;
}
/* display wide lists over right _WORLDCOMP. menu, not under it */
section#gkMainbody table.DrTable {
	position: relative;
	z-index: 1;	
}
/* hide digitalROCK logo */
section#gkMainbody td.profileLogo {
        display: none;
}
