/* $Id$ */
.gray { color: gray; }
.redItalic { color: red; font-style: italic; }
.bold { font-weight: bold; }
.place:after { content: "." }
.place { padding-left: 1em; }
.small { font-size: 70%; padding: 0px; }
.prequalified { color: gray; font-style: italic; }
.complimentary { font-style: italic; }
.lastname { text-transform:  uppercase; }
.leftPad5 { padding-left: 5px; }