<h3>Zustimmung zur Speicherung Ihrer Daten</h3>
<p>Wenn Sie als Athlete an einem Wettkampf teilnehmen, speichern wir alle Angaben die Sie gemacht
	bzw. Ihr Verband oder der Veranstalter des Wettkampfes für Sie eingetragen haben.</p>
<p>Von diesen Daten wird, neben dem Ergebnis, öffentlich in der Regel nur Ihr Name,
	Wohnort, Verband, Nation und Jahrgang angezeigt.<br/>
	Weitere Angaben wie Homepage, Sozial Media Konten, Hobbies, Größe, Gewicht,
	wie lange Sie schon klettern und ein Freitext, <br/>
	können von Ihnen oder Ihrem Verband gemacht werden und werden dann auch gespeichert und angezeigt.</p>
<p>Zur Einsicht oder Änderung der Daten können Sie sich an uns (info@digitalROCK.de) wenden,
	oder auf der nachfolgenden Seite den Button [Profil bearbeiten] anklicken.</p>
<p>Auf Anforderung (info@digitalROCK.de) löschen wir gerne alle Daten die nicht
	für das Wettkampf-Ergebnis oder davon abgeleitete Ranglisten notwendig sind.<br/>
	Nicht gelöscht werden können Ihr Name, Jahrgang, Verbandszugehörigkeit und
	damit auch Nation für die Sie gestartet sind bzw. starten.<br/>
	Diese Daten sind – unseres Wissens – mit der Teilnahme an einer Sportveranstaltung
	Allgemeingut und Sie können keine Löschung verlangen.</p>
<p>Auf Anforderung (info@digitalROCK.de) verbergen wir gerne auch Ihre Profilseite,
	die neben den verbleibenden Informationen auch alle Ihre Wettkampfergebnisse auflistet.<br/>
	Der Besucher der Website erhält dann einen Hinweise, dass der Athlete darum
	gebeten hat sein Profil nicht mehr anzuzeigen.</p>

<h3>Anzeige / Verwendung Ihrer Daten</h3>
<p>Die Daten werden auf den Webseiten von verschieden Verbänden und Wettkampf Veranstaltern angezeigt,
	sofern Sie an deren Wettkämpfen teilgenommen haben.<br/>
	Die Webseiten sind neben <b>www.digitalROCK.de</b> unter anderem:</p>
<ul>
	<li>www.ifsc-climbing.org</li>
	<li>ranking.alpenverein.de und www.alpenverein.de</li>
	<li>ranking.sac-cas.ch</li>
	<li>Webseiten verschiedener Wettkampf Veranstalter</li>
</ul>

<!--h3>Datenschutzbeauftragter</h3>
<pre>
Reinhard Munser
AAIC Soft Systems GmbH
An der Hebemärchte 15
04316 Leipzig

Telefon: +49 (341) 49725 75
E-Mail: datenschutz@egroupware.org
</pre-->

<p><label><input type="checkbox" name="consent" value="true" required> <b>Ich, $$vorname$$ $$nachname$$, stimme hiermit der Speicherung meiner Daten durch die EGroupware GmbH zu.</b></label></p>

<p>Zur Dokumentation Ihrer Zustimmung wird Ihre aktuelle IP Adresse $$ip$$ zusammen mit Datum und Uhrzeit gespeichert.</p>
