<h3>Consent to store your data</h3>
<p>If you have participated in a competition as an athlete, we store all the information you have provided
	or your federation or the organiser of the competition have entered for you.</p>
<p>In addition to the result, only your name, place of residence, federation, nation and
	year of birth are displayed publicly.<br/>
	Further information such as homepage, social media accounts, hobbies, height,
	weight, how long you have been climbing and a free text, can be made by you
	or your federation and will then also be saved and displayed.</p>

<p>To view or change the data you can contact us (info@digitalROCK.de),
	or click on the button [Edit Profil] on the next page.</p>

<p>On request (info@digitalROCK.de) we will gladly delete all data which are not
	necessary for the competition result or derived rankings.<br/>
	You cannot delete your name, year of birth, federation and therefore also the
	nation for which you have started or are starting.<br/>
	To the best of our knowledge, this data is common knowledge when participating
	in a sporting event and you may not request deletion.</p>

<p>On request (info@digitalROCK.de) we can also hide your profile page, which lists
	not only the remaining information but also all your competition results.<br/>
	The visitor to the website will then be informed that the athlete has asked
	not to display his profile.</p>

<h3>Display / usage of your data</h3>
<p>The data are displayed on the websites of various federations and competition organizers,
	provided that you have participated in their competitions.<br/>
	The web pages are beside <b>www.digitalROCK.de</b> among other things:</p>
<ul>
	<li>www.ifsc-climbing.org</li>
	<li>ranking.alpenverein.de and www.alpenverein.de</li>
	<li>ranking.sac-cas.ch</li>
	<li>websites of various competition organisers</li>
</ul>

<!--h3>Data protection officer</h3>
<pre>
Reinhard Munser
AAIC Soft Systems GmbH
An der Hebemärchte 15
04316 Leipzig

Telefon: +49 (341) 49725 75
E-Mail: datenschutz@egroupware.org
</pre-->

<p><label><input type="checkbox" name="consent" value="true" required> <b>I, $$vorname$$ $$nachname$$, hereby agree to the storage of my data by EGroupware GmbH.</b></label></p>

<p>We will store your IP address $$ip$$ together with data and time, to document your consent.</p>
