/**
 * digital ROCK CSS for jQuery based Javascript API
 *
 * @link http://www.digitalrock.de
 * @author Ralf Becker <RalfBecker@digitalROCK.de>
 * @copyright 2010/11 by RalfBecker@digitalROCK.de
 * @version $Id$
 */

#table table {
	width: 100%;
}

/**
 * Background etc. for header rows
 */
#table thead {
	background-color: #c0c0c0;
}
/**
 * Background etc. for body rows
 */
#table tbody {
	background-color: #f0f0f0;
}
/**
 * Center all columns by default
 */
#table th, #table td {
	text-align: center;
}
/**
 * Left justify text columns like name
 */
#table th.lastname, #table td.lastname, #table td.firstname, #table td.team_name {
	padding-left: 5px;
	text-align: left;
}
/**
 * Capitalize names
 */
#table td.lastname {
	text-transform: uppercase;
}

/**
 * Format the header
 */
#table h1 {
	padding: 0;
	margin: 0;
	font-size: 20pt;
	font-weight: bold;
}

/**
 * Quota line
 */
.quota_line > td {
	border-top: 2px solid black;
}

/**
 * Result column
 */
.result {
	white-space: nowrap;
}

/**
 * New boulder result display
 */
div.boulder, div.boulderNone, div.boulderTop, div.boulderBonus {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 2px;
	background-size: 100%;
	position: relative;
}

div.boulderNone {
	background-image: url(../../templates/default/images/boulderNone.png);
}

div.boulderTop {
	background-image: url(../../templates/default/images/boulderTop.png);
}

div.boulderBonus {
	background-image: url(../../templates/default/images/boulderBonus.png);
}

div.bonusTries, div.topTries {
	position: absolute;
	font-size: 90%;
	font-weight: bold;
	color: white;
}
div.bonusTries {
	right: 3px;
	bottom: 1px;
}
div.topTries {
	left: 3px;
	top: 1px;	
}
