/* $Id$ */
.gray { color: gray; }
.redItalic { color: red; font-style: italic; }
.bold { font-weight: bold; }
.place:after { content: "." }
.place { padding-left: 1em; }
.small { font-size: 70%; padding: 0px; }